<!DOCTYPE html>
<html>
<head>
  <title>Captcher</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "captcher/application", media: "all" %>
  <%= javascript_include_tag "captcher/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
